@model innovation4austria.web.Models.EmployeeModel
@{
    ViewBag.Title = "innovation4austria - Firmen-Mitarbeiter verwalten";
}

<div class="row">
    <div class="col-xs-12">
        <h1>Firmen-Mitarbeiter verwalten</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-xs-12">
        @Html.Partial("_EmployeeData", Model.EmployeeData)
    </div>
    <div class="col-sm-6 col-xs-12">
        @Html.Partial("_EmployeePassword", Model.EmployeePassword)
    </div>
</div>

<div class="row">
    <div class="col-xs-12 text-center">
        @Html.ActionLink("Zurück zur Firma", "Detail", "Company", new { id = Model.EmployeeData.ID_Company }, null)
    </div>
</div>


@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
