@model innovation4austria.web.Models.RoomFilterModel

@{
    ViewBag.Title = "Index";
}

<!-- Filter -->
@using (Ajax.BeginForm("Search", "Room", new AjaxOptions()
{
   UpdateTargetId = "result"
}))
{
    @Html.AntiForgeryToken()
    <text>
    start <input type="date" name="start"/><br/>

    ende <input type="date" name="end" /><br />

    Ausstattung<br/>
 <input type="checkbox" name="idFacilities" value="1" />WLAN<br />
<input type="checkbox" name="idFacilities" value="2" />Beamer<br />
<input type="checkbox" name="idFacilities" value="3" />Computer<br />
<input type="checkbox" name="idFacilities" value="4" />Sessel<br />

Standort @*<select name="idBuilding">
    <option value="1">Linz</option>
    <option value="2">Wien</option>
    </select>*@

@Html.DropDownList("idBuilding", new SelectList(Model.Buildings,"ID", "Label"))

    Art <select name="idRoomType">
    <option value="1">Seminarraum</option>
    <option value="2">Konferenzraum</option>
</select>
<br/>
<input type="submit" value="Suchen"/>
</text>
}

<!-- von, bis, art-->

<!-- Ausstattung -->


<!-- Suchtreffer -->

<!-- Suchtreffer Cards -->


<!-- Suchtreffer List -->
<div id="result">
    @Html.Partial("_Search", new List<innovation4austria.web.Models.SearchResultModel>() )
</div>
