/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */
/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
    font-family: HelveticaNeue,'Open Sans', sans-serif;
}

.pad-top {
    padding-top: 60px;
}

.pad-top-more {
    padding-top: 90px;
}

.text-center {
    text-align: center;
}
/*JUST ADDED PADDING IN SECTIONS OF TEMPLATE */
section {
    padding-top: 120px;
    padding-bottom: 100px;
}
/* ADDED PADDING IN NAVBAR */
.navbar {
    padding: 25px;
    -webkit-transition: background .8s ease-out,padding .8s ease-out;
    -moz-transition: background .8s ease-out,padding .8s ease-out;
    transition: background .8s ease-out,padding .8s ease-out;
}
/* CLASS FOR REMOVING PADDING IN NAVBAR*/
.navbar-pad-original {
    padding: 5px;
}
/*========================================
    NAV BAR
    ======================================*/
.navbar-inverse .navbar-nav > li > a {
    color: #000;
}

.navbar-inverse {
    background-color: #FFF;
    border-color: #7eb9f8;
    font-size: 22px;
}

    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color: #000000;
        background-color: transparent;
    }

    .navbar-inverse .navbar-brand {
        color: #000;
        font-size: 27px;
        font-weight: 900;
    }

    .navbar-inverse:hover .navbar-brand:hover {
        color: #000;
    }

.navbar-toggle {
    background-color: black;
}
/*CHANGING COLOR  SCROLLSPY ON LINK ACTIVE  */
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #7eb9f8;
    border-radius: 20px 0 20px 0;
}
/*========================================
    HOME SECTION
    ======================================*/
#home {
    min-height: 700px;
    background-color: #7eb9f8;
}

    #home h1, #home h3 {
        color: #fff;
        text-transform: uppercase;
    }

    #home a i {
        display: table;
        font-size: 150px;
    }
/*========================================
    ABOUT SECTION
    ======================================*/
#about {
    background-color: #66B8F0;
    color: #fff;
    min-height: 700px;
}

.panel > .panel-heading {
    position: relative;
    padding: 15px;
}

.panel-title > a.collapsed:after {
    content: '+';
    position: absolute;
    right: 24px;
}

.panel-title > a:after {
    content: '-';
    position: absolute;
    right: 24px;
}

.panel {
    color: #000;
}

/*========================================
    PORTFOLIO SECTION
    ======================================*/


#portfolio {
    z-index: 2;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}


    .portfolio-modal .modal-content img {
        margin-bottom: 30px;
    }

.modal-body span {
    cursor: pointer;
    color: #66B8F0;
}
/*========================================
    CONTACT SECTION
    ======================================*/
#contact {
    min-height: 400px;
}

    #contact .form-control {
        height: 40px;
    }

.cnt {
    width: 100%;
    min-height: 350px;
    border: 1px solid #e1e1e1;
}

.add {
    font-size: 20px;
    padding: 20px;
}
/*========================================
    FOOTER SECTION
    ======================================*/
#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #7eb9f8;
    color: #fff;
    padding: 20px 50px 20px 50px;
    text-align: right;
    border-top: 1px solid #7eb9f8;
}

/*========================================
    CUSTOM SECTION
    ======================================*/
.row {
    padding-top: 15px;
}

@font-face{
    font-family:"HelveticaNeue";
    src:url("https://static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix");
    src:url("https://static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix") format("eot"),url("https://static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/530dee22-e3c1-4e9f-bf62-c31d510d9656.woff") format("woff"),url("https://static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/688ab72b-4deb-4e15-a088-89166978d469.ttf") format("truetype"),url("https://static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/7816f72f-f47e-4715-8cd7-960e3723846a.svg#7816f72f-f47e-4715-8cd7-960e3723846a") format("svg");
}

.field-validation-error {
    color: #ff0000;
}

.title4 {
    color: #7eb9f8;
}

div.title {
    font-size: 30px;
    display: inline;
}

h1 {
    font-size: 30px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    h1, div.title {
        font-size: 26px;
    }
}